@import "src/styles/variables";
@import "src/styles/mixins";


.mainBlock {
  width: 100%;
  margin-top: -8px;
  padding-bottom: 100px;
  background-color: #fff;


  .mainBlockCont{
    width: $bigBlockForXLW;
    margin: 0 auto;
    //background-color: #fde5e5;
    //height: 300px;
  }

  .mainBlockWrapper{
    padding: 50px 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .left{
    width: 425px;
    height: 425px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span{
      @include text(24px, $primaryFont, 600);
      color: $darkColor;
    }

    form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 350px;
      //background: #ECF5F1;


      input{
        height: 60px;
        border-radius: 255px 15px 225px 15px/15px 235px 5px 275px;
        @include text(16px, $primaryFont, 600);
        border: none;
        //border: 1px solid $darkColor;
        //border-bottom: 2px solid $darkColor;
        //background: $primaryColor;
        //background: #B3FBD8FF;
        background: linear-gradient(92.29deg, #f1faf5 -18.86%, #ebf6fc 111.46%);
        padding-left: 20px;
        color: $primarySdColor;
      }

      input::placeholder{
        color: $darkColor;
      }

      input:focus{
        //color: $primarySdColor;
        outline: $primarySdColor;
      }


      button{
        height: 60px;
        border-radius: 255px 15px 225px 15px/15px 235px 5px 275px;
        @include text(20px, $primaryFont, 700);
        border: none;
        background: linear-gradient(92.29deg, #B3FBD8 -18.86%, #3F88B0 111.46%);
        color: #fff;
        letter-spacing: 1px;
        //background: white;
        //color: $darkColor;
        //border: 3px solid $sideColor;
        width: 300px;
        //filter: drop-shadow(4px 4px 11px rgb(156, 226, 229));
      }

      button:hover {
        background: linear-gradient(92.29deg, #beffdf -18.86%, #4d94be 111.46%);
      }

      button:active{
        background-color: linear-gradient(92.29deg, #adf6d3 -18.86%, #3b83a9 111.46%);
      }
    }
  }

  .right{
    width: 350px;
    height: 325px;
    //background-color: #be4343;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top{
      @include text(22px, $primaryFont, 300);
      color: $darkColor;
      h5{
        margin: 0;
        @include text(24px, $primaryFont, 600);
        line-height: 130%;
        color: $darkColor;
      }
    }

    .bottom{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 165px;
      //background-color: #afffbf;

      a{
        display: block;
        @include text(30px, $primaryFont, 700);
        color: $darkColor;
      }
      p{
        @include text(24px, $primaryFont, 300);
        color: $darkColor;
        line-height: 100%;
        margin: 0;
      }
    }
  }


  @media screen and (max-width: $lW){
    padding-bottom: 50px;

    .mainBlockCont{
      width: $smallBlockForLW;
    }

    .mainBlockWrapper{
      padding: 25px 0;
    }

    .left{
      width: 350px;
      height: 360px;

      span{
        @include text(22px, $primaryFont, 600);
      }

      form{
        height: 300px;

        input{
          height: 50px;
          @include text(16px, $primaryFont, 600);
          padding-left: 15px;
        }

        button{
          height: 50px;
          @include text(18px, $primaryFont, 700);
          width: 250px;
        }
      }
    }

    .right{
      height: 276px;

      .top{
        @include text(20px, $primaryFont, 300);
        h5{
          @include text(22px, $primaryFont, 600);
          line-height: 130%;
        }
      }

      .bottom{
        height: 135px;

        a{
          @include text(25px, $primaryFont, 700);
          color: $darkColor;
        }
        p{
          @include text(20px, $primaryFont, 300);
        }
      }

    }
  }


  @media screen and (max-width: $mW){
    padding-bottom: 50px;

    .mainBlockCont{
      width: $bigBlockForMW;
    }

    .mainBlockWrapper{
      padding: 25px 0;
      //flex-direction: column;
      //align-items: center;
    }

    .left{
      width: 350px;
      height: 360px;

      span{
        @include text(22px, $primaryFont, 600);
      }

      form{
        height: 300px;

        input{
          height: 50px;
          @include text(16px, $primaryFont, 600);
          padding-left: 15px;
        }

        button{
          height: 50px;
          @include text(18px, $primaryFont, 700);
          width: 350px;
        }
      }
    }

    .right{
      //align-items: center;
      //align-items: start;
      align-items: flex-end;
      margin-top: 50px;
      height: 225px;
      width: 450px;

      .top{
        @include text(20px, $primaryFont, 300);
        h5{
          @include text(22px, $primaryFont, 600);
          line-height: 130%;
        }
      }

      .bottom{
        height: 105px;

        a{
          @include text(25px, $primaryFont, 700);
          color: $darkColor;
        }
        p{
          @include text(20px, $primaryFont, 300);
        }
      }
    }
  }

  @media screen and (max-width: $sW){
    padding-bottom: 25px;

    .mainBlockCont{
      width: 90%;
    }

    .mainBlockWrapper{
      padding: 25px 0;
      flex-direction: column;
      align-items: center;
    }

    .left{
      width: 100%;
      height: 360px;

      span{
        text-align: center;
        @include text(22px, $primaryFont, 600);
      }

      form{
        height: 300px;

        input{
          height: 50px;
          @include text(16px, $primaryFont, 600);
          padding-left: 15px;
        }

        button{
          height: 50px;
          @include text(18px, $primaryFont, 700);
          width: 100%;
        }
      }
    }

    .right{
      align-items: center;
      margin-top: 50px;
      height: 225px;
      width: 100%;

      .top{
        @include text(20px, $primaryFont, 300);
        h5{
          @include text(22px, $primaryFont, 600);
          line-height: 130%;
        }
      }

      .bottom{
        height: 105px;

        a{
          @include text(25px, $primaryFont, 700);
          color: $darkColor;
        }
        p{
          @include text(20px, $primaryFont, 300);
        }
      }
    }
  }


}