@import "src/styles/variables";
@import "src/styles/mixins";


.mainBlock {
  width: 100%;
  //min-height: 100vh;
  background-color: #fff;
  margin-top: -4px;
  overflow: hidden;

  .mainBlockCont {
    width: $bigBlockForLW;
    margin: 0 auto;
    //background-color: #b64d4d;
    overflow: visible;
  }

  // up
  .upperBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .upperBoxLeft {

    .p1 {
      display: block;
      width: 500px;
      margin: 50px 0 0 110px;
      //background-color: #7fd9e8;
      @include text(19px, $primaryFont, 400);
      color: $darkColor;

      span {
        @include text(19px, $primaryFont, 400, italic);
        color: $darkColor;
      }
    }

    .p2 {
      display: block;
      width: 635px;
      position: relative;
      margin: 80px 0 0 110px;
      //background-color: #7fd9e8;
      @include text(18px, $primaryFont, 400);
      color: $darkColor;
      z-index: 22;

      span {
        @include text(18px, $primaryFont, 400, italic);
        color: $darkColor;
      }
    }

    ul {
      margin: 35px 0 0 110px;
      list-style-type: '-  ';
      padding-left: 24px;

      li {
        position: relative;
        margin-top: 25px;
        @include text(18px, $primaryFont, 600);
        color: $darkColor;
        z-index: 22;
      }

    }
  }

  // down
  .downBox {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    height: 565px;
  }

  .downBoxRight {

    .p3 {
      margin: 140px 110px 0 0;
      @include text(18px, $primaryFont, 400);
      color: $darkColor;
      justify-content: end;

      span {
        @include text(18px, $primaryFont, 500, italic);
        color: $darkColor;
      }
    }

    .p4 {
      margin: 35px 110px 0 0;
      @include text(18px, $primaryFont, 400);
      color: $darkColor;
      justify-content: end;

      span {
        @include text(18px, $primaryFont, 400, italic);
        color: $darkColor;
      }
    }

    .p5 {
      margin: 5px 110px 0 0;
      @include text(18px, $primaryFont, 400);
      color: $darkColor;
      justify-content: end;

      span {
        @include text(18px, $primaryFont, 400, italic);
        color: $darkColor;
      }
    }
  }

  // button
  .btn {
    margin: 45px 237px 0 0;
  }


  // images
  .upperBoxRightImg {
    position: absolute;
    top: 90px;
    right: 550px;
    min-width: 100px;
    min-height: 100px;
    z-index: 0;

    img {
      position: absolute;
      //transform: scale(1.25);
    }

    .person {
      z-index: 0;
      top: -60px;
      left: 100px;
    }
  }

  .downBoxLeftImg {
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    top: -100px;
    left: -40px;

    .personL {
      position: absolute;
      top: 150px;
      left: 180px;
      //transform: scale(1.2);
    }
  }



  @media screen and (max-width: $slW){
    .mainBlockCont {
      width: $bigBlockForsLW;
    }

    .upperBoxLeft {

      .p1 {
        width: 435px;
        margin: 25px 0 0 45px;
        @include text(17px, $primaryFont, 400);

        span {
          @include text(17px, $primaryFont, 400, italic);
        }
      }

      .p2 {
        width: 435px;
        margin: 25px 0 0 45px;
        @include text(16px, $primaryFont, 400);

        span {
          @include text(16px, $primaryFont, 400, italic);
        }
      }

      ul {
        margin: 15px 0 0 45px;
        list-style-type: '-  ';
        padding-left: 16px;

        li {
          margin-top: 15px;
          @include text(16px, $primaryFont, 600);
        }
      }
    }

    .downBox {
      height: 390px;
    }

    .downBoxRight {

      .p3 {
        margin: 45px 45px 0 0;
        @include text(16px, $primaryFont, 400);

        span {
          @include text(16px, $primaryFont, 500, italic);
        }
      }

      .p4 {
        margin: 35px 45px 0 0;
        @include text(16px, $primaryFont, 400);

        span {
          @include text(16px, $primaryFont, 400, italic);
        }
      }

      .p5 {
        margin: 5px 45px 0 0;
        @include text(16px, $primaryFont, 400);

        span {
          @include text(16px, $primaryFont, 400, italic);
        }
      }

    }

    // images
    .upperBoxRightImg {
      top: 0;
      right: 393px;

      img {
        position: absolute;
      }

      .person {
        z-index: 0;
        top: -95px;
        left: 100px;
        transform: scale(0.7);
        overflow: hidden;
      }
    }

    .downBoxLeftImg {
      position: absolute;
      min-width: 100px;
      min-height: 100px;
      top: -100px;
      left: -40px;

      .personL {
        position: absolute;
        top: 50px;
        left: 13px;
        transform: scale(0.7);
      }
    }

    .btn {
      margin: 40px 173px 0 0;
    }



  }


  @media screen and (max-width: $mW){

    .mainBlockCont {
      width: $bigBlockForMW;
    }

    .upperBoxLeft {
      overflow: hidden;

      .p1 {
        width: 335px;
        margin: 25px 0 0 0;
        @include text(15px, $primaryFont, 400);

        span {
          @include text(15px, $primaryFont, 400, italic);
        }
      }

      .p2 {
        width: 435px;
        margin: 25px 0 0 0;
        @include text(14px, $primaryFont, 400);

        span {
          @include text(14px, $primaryFont, 400, italic);
        }
      }

      ul {
        margin: 15px 0 0 0;
        list-style-type: '-  ';
        padding-left: 15px;

        li {
          margin-top: 15px;
          @include text(15px, $primaryFont, 600);
        }
      }
    }

    .downBox {
      height: 338px;
    }

    .downBoxRight {

      .p3 {
        margin: 45px 0 0 0;
        @include text(15px, $primaryFont, 400);

        span {
          @include text(15px, $primaryFont, 500, italic);
        }
      }

      .p4 {
        margin: 35px 0 0 0;
        @include text(15px, $primaryFont, 400);

        span {
          @include text(15px, $primaryFont, 400, italic);
        }
      }

      .p5 {
        margin: 5px 0 0 0;
        @include text(15px, $primaryFont, 400);

        span {
          @include text(15px, $primaryFont, 400, italic);
        }
      }

    }

    // images
    .upperBoxRightImg {
      //overflow: hidden;
      top: -46px;
      left: 110px;
      width: 624px;
      //width: 300px;
      height: 300px;

      img {
        position: absolute;
        overflow: hidden;
      }

      .person {
        z-index: 0;
        transform: scale(0.6);
      }
    }

    .downBoxLeftImg {
      position: absolute;
      min-width: 100px;
      min-height: 100px;
      top: -126px;
      left: -105px;

      .personL {
        position: absolute;
        top: 50px;
        left: 13px;
        transform: scale(0.6);
      }
    }

    .btn {
      margin: 25px 156px 0 0;

      button{
        width: 200px;
        height: 40px;
        @include text(17px, $primaryFont, 600);
      }
    }
  }




}