@import "src/styles/variables";
@import "src/styles/mixins";

.mainBlock {
  width: 100%;
  //height: 90vh;

  //background-color: #4dc2be;

  .mainBlockCont{
    width: $bigBlockForLW;
    //height: 90vh;
    margin: 0 auto;
    padding-top: 70px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    //background-color: #5ce7a8;
  }

  .titleBox {
    width: 690px;
    height: 550px;

    //padding-left: 140px;
    //background-color: #9781d9;

    img{
      width: 100%;
    }
  }

  //.title {
  //  display: flex;
  //  flex-direction: row;
  //  justify-content: space-between;
  //  width: 100%;
  //}
  //
  //.start {
  //  margin-left: 19px;
  //}

  h1 {
    @include text(36px, $primaryFont, 700);
    color: $darkColor;
  }

  .btn {
    margin-top: 75px;
  }


  .imgCont {
    width: 610px;
    height: 658px;


    //background-color: #d733e3;

    img {
      width: 100%;
      height: 100%;
      //margin-left: 50px;
      overflow: hidden;
      transform: scale(1.3);
    }
  }




  @media screen and (max-width: $slW){

    .mainBlockCont{
      width: $bigBlockForsLW;
      margin: 0 auto;
      align-items: start;
    }

    .titleBox {
      width: 450px;
      height: 320px;
    }

    h1 {
      @include text(28px, $primaryFont, 700);
      color: $darkColor;
      line-height: 1.3;
    }

    .btn {
      margin-top: 55px;
    }

    .imgCont{
      width: 375px;
      height: 400px;

      img{
        transform: scale(1.2);
      }
    }

  }

}
