@import "../styles/fonts";

// fonts
$primaryFont: 'Grotesk';
$titleFont: 'PressStart';

// colors
$primaryColor: #B3FBD8;
$primarySdColor: #5AA9D4;
$sideColor: #F47AFF;
$darkSideColor: #ea76f6;
$darkColor: #262626;

// width
$bigBlockForLW: 1115px;
$smallBlockForLW: 925px;

$bigBlockForsLW: 775px;
$smallBlockForsLW: 685px;

$bigBlockForMW: 545px;
$smallBlockForMW: 480px;




// breakpoint

$lW: 1400px;

$slW: 1130px;

$mW: 890px;

$sW: 580px;






$bigBlock: 1075px;