@import "../styles/fonts";

// fonts
$primaryFont: 'Grotesk';
$titleFont: 'PressStart';

// colors
$primaryColor: #B3FBD8;
$primarySdColor: #5AA9D4;
$sideColor: #F47AFF;
$darkSideColor: #ea76f6;
$darkColor: #262626;

// width
$bigBlockForXLW: 1200px; // 1200+  // 1115
$smallBlockForXLW: 1000px;

$bigBlockForLW: 900px;   // 925   775
$smallBlockForLW: 800px;

$bigBlockForMW: 740px;  // 745   545
$smallBlockForMW: 660px;




// breakpoint

$xlW: 1400px;

$lW: 1280px;       // 1280 - 1000

$mW: 1000px;        // 1000 - 768

$sW: 767px;         // 767 - 320






$bigBlock: 1075px;