@import "src/styles/variables";
@import "src/styles/mixins";

.blockTitle {
  position: relative;
  overflow: hidden;

  h2 {
    width: $bigBlockForLW;
    display: block;
    margin: 0 auto;
    //padding: 0 0 0 130px;
    @include text(70px, $primaryFont, 900);
    text-transform: uppercase;
    color: $darkColor;
  }

  .list {
    margin: 0;
    position: absolute;
    left: 0;
    top: 60px;
    cursor: unset;
    @include text(14px, $primaryFont, 900);
    color: rgba(38, 38, 38, 0.2);
    text-transform: uppercase;
    white-space: nowrap;
    animation: marquee 30s infinite linear;
  }

  .list:after {
    content: "ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів ціль курсів";
  }

  @keyframes marquee{
    0% {
      transform: translateX(0)
    }
    100% {
      transform: translateX(-50%)
    }
  }

  @media screen and (max-width: $slW){

    h2{
      width: $bigBlockForsLW;
      @include text(50px, $primaryFont, 900);
    }


    .list{
      top: 48px;
      @include text(12px, $primaryFont, 900);
    }
  }

  @media screen and (max-width: $mW){

    h2{
      width: $bigBlockForMW;
      @include text(40px, $primaryFont, 900);
    }


    .list{
      top: 36px;
      @include text(10px, $primaryFont, 900);
    }
  }
}



