@import "/src/styles/variables";
@import "/src/styles/mixins";


.footer{
  position: relative;
  width: 100%;
  height: 350px;
  background-color: transparent;


  .footerWrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(38, 38, 38, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: inset 0px 20px 15px -15px rgba(38, 38, 38, 0.3);
    display: flex;
    align-items: center;
  }

  .footerCont{
    width: $bigBlockForXLW;
    margin: 0 auto;
    height: 130px;
    //background-color: #ab4848;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    .logoFooter{
      img{
        width: 130px;
      }
    }

    div{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 350px;

      a{
        display: block;
        @include text(36px, $primaryFont, 800);
        color: $darkColor;
      }

      a:nth-child(2){
        text-decoration: none;
      }
    }
  }


  @media screen and (max-width: $lW){

    .footerCont{
      width: $bigBlockForLW;
      height: 100px;

      .logoFooter{
        img{
          width: 100px;
        }
      }

      div{
        padding-right: 250px;

        a{
          display: block;
          @include text(28px, $primaryFont, 800);
          color: $darkColor;
        }
      }
    }

  }

  @media screen and (max-width: $mW){
    height: 200px;

    .footerCont{
      width: $bigBlockForMW;
      height: 100px;

      .logoFooter{
        img{
          width: 100px;
        }
      }

      div{
        padding-right: 150px;

        a{
          display: block;
          @include text(28px, $primaryFont, 800);
          color: $darkColor;
        }
      }
    }
  }

  @media screen and (max-width: $sW){
    height: 160px;

    .footerCont{
      width: 90%;
      height: 45px;

      .logoFooter{
        padding-right: 5px;
        img{
          width: 45px;
        }
      }

      div{
        padding-right: 10px;

        a{
          display: block;
          @include text(16px, $primaryFont, 800);
          color: $darkColor;
          line-height: 1;
        }
      }

      .up{
        img{
          transform: scale(0.7);
        }
      }
    }
  }

  @media screen and (max-width: 360px){
    height: 150px;

    .footerCont{
      width: 90%;
      height: 35px;

      .logoFooter{
        padding-right: 5px;
        img{
          width: 35px;
        }
      }

      div{
        padding-right: 0;

        a{
          display: block;
          @include text(16px, $primaryFont, 800);
          color: $darkColor;
          line-height: 1;
        }
      }

      .up{
        img{
          transform: scale(0.67);
        }
      }
    }
  }

}