@import "src/styles/variables";
@import "src/styles/mixins";


.mainBlock {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  //min-height: 100vh;

  .mainBlockCont {
    width: $bigBlockForLW;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .p {
    display: block;
    width: 535px;
    @include text(19px, $primaryFont, 400);
    color: $darkColor;
    margin: 25px 0 0 110px;
  }

  .blocksCont {
    width: 100%;
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      position: relative;
      width: 255px;
      border-radius: 255px 15px 225px 15px/15px 235px 5px 275px;
      background: rgba(255, 255, 255, 0.5);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      padding: 29px;

      border: 2px solid white;
      //border-image-source: linear-gradient(155.13deg, #FFFFFF -33.93%, rgba(255, 255, 255, 0.57) 47.29%, rgba(255, 255, 255, 0) 115.76%);

      p{
        margin: 0;
        @include text(16px, $primaryFont, 400);
      }

      span{
        display: block;
        margin-top: 5px;
        @include text(16px, $primaryFont, 400);
        color: rgba(38, 38, 38, 0.7);
      }

      img{
        position: absolute;
        width: 40px;
        height: 40px;
        top: -11px;
        right: -7px;
      }
    }
  }


  @media screen and (max-width: $slW){

    .mainBlockCont {
      width: $bigBlockForsLW;
    }

    .p {
      width: 435px;
      @include text(17px, $primaryFont, 400);
      margin: 25px 0 0 40px;
    }

    .blocksCont {
      width: 100%;
      margin-top: 35px;
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
      //flex-wrap: wrap;

      div {
        width: $smallBlockForsLW - 40px;
        padding: 20px;
        margin: 10px auto;

        p{
          margin: 0;
          @include text(16px, $primaryFont, 400);
        }

        span{
          @include text(16px, $primaryFont, 400);
        }

        img{
          width: 30px;
          height: 30px;
          top: -11px;
          right: -7px;
        }
      }
    }

  }

}