@import "src/styles/variables";
@import "src/styles/mixins";


.mainBlock {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;

  .mainBlockCont {
    width: $bigBlockForXLW;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .p {
    display: block;
    width: 535px;
    @include text(19px, $primaryFont, 400);
    color: $darkColor;
    margin: 25px 0 0 110px;
  }

  .blocksCont {
    width: $bigBlockForXLW;
    margin: 55px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      position: relative;
      width: 300px;
      border-radius: 255px 15px 225px 15px/15px 235px 5px 275px;
      background: rgba(255, 255, 255, 0.5);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      padding: 29px;

      border: 2px solid white;

      p{
        margin: 0;
        @include text(16px, $primaryFont, 400);
      }

      span{
        display: block;
        margin-top: 5px;
        @include text(16px, $primaryFont, 400);
        color: rgba(38, 38, 38, 0.7);
      }

      img{
        position: absolute;
        width: 40px;
        height: 40px;
        top: -11px;
        right: -7px;
      }
    }
  }

  // 1280 - 1000
  @media screen and (max-width: $lW){
    margin-top: 50px;
    margin-bottom: 50px;

    .mainBlockCont {
      width: $bigBlockForLW;
    }

    .p {
      width: 435px;
      @include text(16px, $primaryFont, 400);
      margin: 25px 0 0 40px;
    }

    .blocksCont {
      width: 100%;
      margin-top: 35px;

      div {
        width: 225px;
        padding: 20px;
        margin: 10px auto;

        p{
          margin: 0;
          @include text(15px, $primaryFont, 400);
        }

        span{
          @include text(15px, $primaryFont, 400);
        }
      }
    }

  }

  @media screen and (max-width: $mW){
    margin-top: 50px;
    margin-bottom: 50px;

    .mainBlockCont {
      width: $bigBlockForMW;
    }

    .p {
      width: 430px;
      //@include text(16px, $primaryFont, 400);
      margin: 25px 0 0 40px;
    }

    .blocksCont {
      width: 100%;
      margin-top: 35px;
      flex-direction: column;

      div {
        width: $smallBlockForMW - 40px;
        padding: 20px;
        margin: 10px auto;
      }
    }

  }

  @media screen and (max-width: $sW){
    margin-top: 25px;
    margin-bottom: 25px;

    .mainBlockCont {
      width: 90%;
    }

    .p {
      width: 100%;
      @include text(15px, $primaryFont, 400);
      margin: 25px 0 0 0;
    }

    .blocksCont {
      width: 100%;
      margin-top: 25px;
      flex-direction: column;

      div {
        width: 90%;
        padding: 15px;
        margin: 10px auto;

        p{
          margin: 0;
          @include text(14px, $primaryFont, 400);
        }

        span{
          @include text(14px, $primaryFont, 400);
        }
      }
    }

  }


}